<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Thanks for testing this mailer.</h1>
    <p>Hope you can receive this on your Email account!
    (Pss, Check your spam folder!)</p>
  </body>
</html>
